.cart-row{
    margin-top:60px;
    background-color: white;
    box-shadow: 2px 2px 3px 2px grey;
    height:120px;
    width:65%;
}
.cart-row-detail{     /*Detalle de la compra*/
    top:180px;
    box-shadow: 2px 2px 4px 2px rgb(90, 88, 88);
    position:absolute;
    padding:35px;
    left:10px;
    width:25%;
    background-color: lightgrey;
}

.compra-total-detail{   /*texto del total de la compra*/
    font-size: 22px;
    font-weight: bold;
}

.compra-detail-title{       /*titulo de detalle de compra*/
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.compra-detail-pago{   /* estilo detalle pago total de la compra*/
    font-weight: bolder;
    font-size: 22px;
    margin-top:-3px;
}
.cart-container{
    width:83%;
}

.cart-imagen{
    object-fit: contain;
}

.cart-marca-modelo{
    margin-top:30px;
}
.cart-cant-precio{
    margin-top: 40px;
    color:rgb(56, 55, 55);
    font-weight: bolder;
}
.cart-borrar-item{
    margin-top:50px;
    margin-left: 40px;
    font-size: 25px;
}
.cart-borrar-item:hover{
    color:red;
    transform: scale(1.1);
}
.boton-seguir-limpiar{
    margin-top: 60px;
}
.botones{
    margin-top: 60px;
}

@media only screen and (max-width:576px){
    .cart-row{
        position:relative;
        height:350px;
        margin-left:-27px;
        margin-top:50px;
        margin-bottom: 30px;
        width:119%;
    }
    .cart-borrar-item{
        position:absolute;
        top:-40px;
        right:10px;
    }
    .boton-seguir-limpiar{
        margin-left:-80px;
        margin-top:50px;
    }
    .boton-seguir{
        width:210px;
        margin-bottom: -20px;
    }
    .boton-limpiar{
        width:180px;
        margin-left:-30px;
    }
    .boton-seguir-solo{
        margin-top:30px;
        margin-left:160px;
        width:210px;
    }
    .cart-row-detail{
        position:relative;
        display: flex;
        margin-bottom: 250px;
        margin-top: -130px;
        width:330px;
        margin-left: 4px;
    }
    .detalle-cantidades{
        margin-top:1px;
    }
}
