.card-title{
    font-style: italic;
}
.card-categoria{
    color:orangered;
    font-size:14px;
}
.card-stock{
    color:blue;
    font-size: bold;
}
.Card{
    margin-top:80px;
}
.card-items:hover{
    transform: scale(1.1);
}
#card-img{
    object-fit:contain;
}