.buttonClose{
    right:20px;
    top:10px;
    position:absolute;
    font-size: 25px;
}
.boton:hover{
    transform: scale(1.1);
    transition: all 1s;
    color:red;
}

.card-item-detail{
    position:relative;
    padding:50px;
    margin-top:70px;
    box-shadow:1px 1px 4px 2px black; 
}
.body-description{
    margin-left:15%;
}
.text-categoria{
    font-size:18px;
    color:blue;
    font-weight: bold;
}
.text-marca{
    font-size:40px;
    font-weight: bold;
}
.text-modelo{
    font-size:20px;
}
.text-description{
    color:black;
    margin-top: 30px;
    margin-left:-10px;
    font-size: 20px;
}
.text-precio{
    font-size:30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px grey;
}
.text-stock{
    color:blue;
    font-weight: bold;
    font-size: 18px;
}
.imagen-description:hover{
    transform:scale(1.2);
    transition: all 1s;
}
.boton-finalizar-compra{
    text-decoration: none;  
}
.btn-login{
    width:200px;
    height:50px;
    margin-top:30px;
}

/* para dispositivos mobiles */
@media only screen and (max-width:576px){
    .body-description{
        margin-top:10%;
        margin-left:-20%;
    }
    .card-item-detail{
        position:relative;
        margin-left:-5%;
        width:110%;
        margin-top: 40px;
    }
    .text-description{
        font-size:16px;
        margin-left:-6%;
        width:280px;
        text-align: left;
    }
    .boton-finalizar-compra{
        margin-left:60px;
    }
    .boton-count{
        margin-left:9px;
    }
    .buttonClose{
        right:10px;
        top:8px;
        position:absolute;
        font-size: 20px;
    }
    .btn-login{
        transform: translateX(22px);
        width:100%;
    }
    
}

@media (min-width:576px) and (max-width:768px){  /* resoluciones medianas*/
    .card-item-detail{
        position:relative;
        margin-left:-16%;
        width:133%;
        margin-top: 80px;
    }
    .imagen-description:hover{
        transform:scale(1.05);
        transition: all 1s;
    }
    .text-description{
        font-size:22px;
        margin-left:-1%;
        width:500px;
        text-align: left;
    }
    .body-description{
        margin-top:10%;
        margin-left:2%;
    }
    .buttonClose{
        right:15px;
        top:5px;
        position:absolute;
        font-size: 25px;
    }
    .boton-count{
        margin-left:23%;
        transform: translateY(40px);
        margin-bottom: 80px;
    }
    .btn-ver-compras{
        transform: scale(1.2);
    }
    .btn-login{
        width:300px;
        height:60px;
        transform: translate(30%);    
    }
    .btn-ver-compras{
        width:400px;
    }
    .boton-finalizar-compra{
        margin-left: 9%;
    }
}