.card-title{
    font-style: italic;
}
.card-categoria{
    color:orangered;
    font-size:14px;
}
.card-stock{
    color:blue;
    font-size: bold;
}
.Card{
    margin-top:80px;
    box-shadow: 1px 1px 2px 1px black;
}
.card-items:hover{
    transform: scale(1.1);
    box-shadow:1px 2px 4px 1px black;
}
#card-img{
    object-fit:contain;
    width:200px;
    margin:auto;
    margin-top:10px;
}

@media only screen and (max-width:576px){  /* resoluciones pequeñas*/
    .card-items{
        min-width:300px;
        margin-top:-40px;
    }
}

@media (min-width:576px) and (max-width:768px){  /* resoluciones medianas*/
    .card-items{
        min-width:500px;
    }
}  

