.loginContainer{
    height:100vh;
}
.formContainer{
    position:relative;
    margin-top: 25vh;
    background-color: white;
    box-shadow: 3px 3px 10px 4px grey;
}
.formData{
    padding:20px;
}
.formData label{
    font-weight: bolder;
    font-size: 18px;
}
.linkRegistrar{
    margin-top:20px;
    font-weight: bolder;
    color:blue;
    cursor:pointer;
}
.linkRegistrar:hover{
    color:red;
}
.closeLogin{
    font-size: 20px;
    color:black;
}
.boton{
    position: absolute;
    top:15px;
    right: 15px;
}
.closeLogin:hover{
    color:red;
}
.buttonLogin{
    width:100%;
    margin-top:10px;
    margin-bottom:15px;
}
.buttonLogin:hover{
    background-color:green;
}
.errorUsuario{
    color:red;
    font-weight: bold;
    margin-bottom: -15px;
    margin-top:5px;
}

@media only screen and (max-width:576px){
    .loginContainer{
        height: 150vh;
    }
    .formContainer{
        width:90%;
        margin:auto;
        margin-top:150px;
    }
}
@media (min-width:576px) and (max-width:768px){  /* resoluciones medianas*/
    .formContainer{
        min-width:120%;
        margin-left:-10%;
        height:500px;
    }
    .formData label{
       font-size: 30px;
    }
    .formData input{
       font-size: 25px;
    }
    .linkRegistrar{
       font-size: 25px;
       margin-top: 30px;
       margin-bottom: 50px;
    }
    .buttonLogin{      
        transform: scale(1.5);
        width:67%;
    }
    .closeLogin{
        font-size: 28px;
    }
}  
