.modal-nombre{
    color:lightblue;
    text-shadow:3px 3px 3px black;
    font-family: 'Lora', serif; /* fuente de titulo mercado shop */
    font-size:24px;
    letter-spacing: 1px; 
}
.modal-description{
    letter-spacing: 2px;
    margin-top:20px;
    text-align: center;
    color:greenyellow;
    font-weight: bolder;
}
.titles{
    font-size:18px;
    color :coral;
    font-weight: bold;
}
.list-detail{
    margin-left:-25px;
}
.detail-total{
    font-size: 20px;
}

@media only screen and (max-width:576px){  /*resoluciones pequeñas*/
    .modal-container{
        transform: scale(0.9);
       
    }
}

@media (min-width:576px) and (max-width:768px){  /* resoluciones medianas*/
    .modal-container{
        width:100%;
        transform: scale(1.4);
    }
}