.modalDeleteItem{
    font-weight: bold;
    margin-left: -40px;
    font-size: 18px;
}
.confirmarOk{
    color:green;
    cursor:pointer;
}
.cancel{
    color:rgb(195, 67, 67);
    cursor:pointer;
}
.confirmarOk:hover{
    color:blue;
    transition: all 1s;
}
.cancel:hover{
    transform: scale(1.7);
    color:rgb(228, 88, 24);
    transition: all 1s;
}

@media only screen and (max-width:576px){
    .colConfirmar{
        width:50px;
        text-align: right;
        margin-left: 50px;
    }
    .colCancel{
        width:50px;
        text-align: right;
        margin-left: 100px;
    }
}