@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap'); /*fuente lora de google fonts*/

.logoWeb:hover{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.navbar{
    background: yellow;
    box-shadow: 0 1px 2px grey;
}
.nav-title{
    font-family: 'Lora', serif; /* fuente de titulo mercado shop */
    font-size:24px;
    letter-spacing: 1px; 
}
.navbar-nav{
    margin-left:auto;
}
/* tamaño de fuente de items del nav */
.nav-item{
    font-size: 18px;
}
.active{      /* link activo del navbar*/
    font-weight: bolder;
}
.dropdown-menu{
    background: black;
    width:80px;
    margin-left:-25px;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 3px gray;
}
/* sub.menu categorias y marcas */
.menu-categorias::before{
    position:absolute;
    content:'🠹';
    color:black;
    z-index:-1;
    font-size:50px;
    margin-top:-48px;
    margin-left:109px;
}
.dropdown-item{
    color:white;
    text-align: center;
    text-decoration: none;
}
.menu-marcas::before{
    position:absolute;
    content:'🠹';
    color:black;
    z-index:-1;
    font-size:50px;
    margin-top:-48px;
    margin-left:82px;
}
@media only screen and (max-width:576px){  /* resoluciones pequeñas*/
    .dropdown-menu{
        width:370px;
        margin-bottom: 30px;
    }
    .menu-marcas::before{
        display:none;
    }
    .menu-categorias::before{
        display:none;
    }
}
@media (min-width:576px) and (max-width:768px){  /* resoluciones medianas*/
    .navbar-collapse{
        padding:20px;
    }
    .navbar-brand{
        font-size: 40px;
    }
    .logoWeb{
        width:55px;
    }
    .nav-item{
        font-size: 25px;
    }
    .dropdown-menu{
        width: 100%;
        margin:auto;
        font-size: 22px;
    }
    .dropdown-item{
        font-size:28px;
    }
    .menu-marcas::before{
        margin-left:12%;
    }
    .menu-categorias::before{
        margin-left:18%;
    }
    .buttonLogin{
        font-size: 28px;
    }
    .inputSearch{
        font-size:30px;
    }
    .user-name{
        font-size: 30px;
    }
    .btn-salir{
        font-size: 30px;
        padding:5px;
        padding-left:20px;
        padding-right:20px;
        margin-bottom: 15px;
    }
}
